<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.project.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO users ( user_id, user_pw, name, user_nick, email )
		VALUES ( #{userId}, #{userPw}, #{name}, #{nickname}, #{email})
	</insert>
	
	<!-- 권한등록 -->
	<insert id="insertAuth">

		INSERT INTO user_auth ( user_id, auth )

		VALUES ( #{userId}, #{auth} )
	</insert>
	
	<!-- 아이디 조회 -->
	<select id="select" resultType="Users">
		SELECT *
		  FROM users
		 WHERE user_id = #{userId} 
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId">
		SELECT *
		FROM users
		WHERE name = #{name} and email = #{email}

		  FROM users
		 WHERE user_id = #{userId} 
	</select>
	
	<!-- 회원 목록 -->
	<select id="list" resultType="Users">
		SELECT *
		  FROM users 
	  ORDER BY user_no ASC;
	</select>


</mapper>
















