<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment 속성으로 공통으로 사용할 프래그먼트를 정의 -->
<body th:fragment="header">
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="/" class="logo">
                      <img src="/cyborg/assets/images/logo0.png" alt="">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Search End ***** -->
                  <div class="search-input">
                    <form id="search" action="#">
                      <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                      <i class="fa fa-search"></i>
                    </form>
                  </div>
                  <!-- ***** Search End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="/board/list">Community</a></li>
                      <form id="login" action="/login" method="get">
                        <li sec:authorize="isAnonymous()"><a href="javascript:;" onclick=btn_login()>Log in</a></li>
                      </form>
                      <form id="join" action="/join" method="get">
                        <li sec:authorize="isAnonymous()"><a href="javascript:;" onclick=btn_join()>Sign in</a></li>
                      </form>
                      <th:block sec:authorize="isAuthenticated()">
                      <div>
                        <form id="logout" action="/logout" method="post">
                          <!-- csrf 토큰 -->
                          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                          <span style="cursor:hand;color:white" sec:authentication="principal.username"></span>
                          <a href="javascript:;" onclick=btn_logout()>로그아웃</button>
                        </form>		
                      </div>
                  </th:block>
                      <li sec:authorize="isAuthenticated()"><a href="profile.html">Profile <img src="/cyborg/assets/images/avatar.jpg" alt=""></a></li>
                  </ul>   
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End. ***** -->
<script>
  function btn_login(){
    document.getElementById("login").submit();
  }
  function btn_join(){
    document.getElementById("join").submit();
  }
  function btn_logout(){
    document.getElementById("logout").submit();
  }
</script>
</body>
</html>