<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<title>아이디/비밀번호 찾기</title>
</head>
<body>
	<h1>아이디/비밀번호 찾기</h1>
	<input type="radio" name="findOption" id="findId"> 아이디 찾기
	<input type="radio" name="findOption" id="findPw"> 비밀번호 찾기
	<form method="POST" action="/find_id">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    	<div id="findIdForm" style="display:none;">
        	<table>
        	<!-- 아이디 찾기 폼 -->
           	 	<tr>
	                <td>이름</td>
	                <td>
	                <input type="text" name="name" id="name">
	                </td>
            	</tr>
	            <tr>
	                <td>이메일</td>
	                <td>
	                    <input type="email" name="email" id="email">
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="button" value="아이디 찾기" id="btn_find_id">
	                </td>
	            </tr>
	        </table>
    	</div>
	</form>
	<form method="POST" action="/find_password">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	    <div id="findPasswordForm" style="display:none;">
	        <!-- 비밀번호 찾기 폼 -->
	        <table>
	            <tr>
	                <td>아이디</td>
	                <td>
	                    <input type="text" name="userId" id="userId">
	                </td>
	            </tr>
	            <tr>
	                <td>이름</td>
	                <td>
	                	<input type="text" name="name" id="name">
	                </td>
	           	</tr>
	            <tr>
	                <td>이메일</td>
	                <td>
	                    <input type="email" name="email" id="email">
	                </td>
	            </tr>
	            <tr>
	                <td>
	                    <input type="button" value="비밀번호 찾기" id="btn_find_password">
	                </td>
	            </tr>
	        </table>
	    </div>
	</form>
<a href='/'>홈으로</a>
&nbsp;&nbsp;
<a href='/login'>로그인하기</a>
</body>

<script src='https://code.jquery.com/jquery-3.4.1.js'></script>
<script>
$(document)
// 아이디 찾기 라디오 버튼 눌렀을 때 password테이블은 안보이는 메소드
.on('click', '#findId', function(){
    document.getElementById("findIdForm").style.display = "block";
    document.getElementById("findPasswordForm").style.display = "none";
})

// 비밀번호 찾기 라디오 버튼을 눌렀을 때 id테이블은 안보이는 메소드
.on('click', '#findPw', function(){
    document.getElementById("findPasswordForm").style.display = "block";
    document.getElementById("findIdForm").style.display = "none";
})

// 아이디 찾는 코드
.on('click', '#btn_find_id', function(){
    if($("#name").val()=="" || $("#email").val()=="") {
        alert("빈칸을 확인해주세요.");
        return false;
    }
    else {
    	var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        

        $.ajax({
            url: '/find_id',		// 요청 경로
            type: 'post',				// 메소드 방식(get, post, put 등)
            data: {name : $('#name').val(), email : $('#email').val()},	
            
            beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            // 서버로부터 정상적인 응답
            success: function(data){
                alert("아이디는 " + data[0] + " 입니다.");
                alert("이름은 " + data[1] + " 입니다.");
            },
            // 에러
            error: function(request, status, error){
                alert('정보가 맞지 않습니다. 다시 시도해주세요.')
            }
        })
    }
})
</script>
</html>