<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
			    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			    layout:decorate="~{ui/user/layouts/main_template}">
<head>
	<meta charset="UTF-8">
	<title>제목</title>
</head>
<body layout:fragment="content">
	
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-content">
				<a href="/login">로그인</a>
				
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		
		
	})
</script>
	
</body>
</html>