<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment 속성으로 공통으로 사용할 프래그먼트를 정의. -->
<body th:fragment="footer">
    <!-- Start Footer -->
    <div class="row footer">
        <div class="col-md-6 text-left">
        Copyright © 2015 <a href="http://themeforest.net/user/bragher/portfolio" target="_blank">Bragher</a> All rights reserved.
        </div>
        <div class="col-md-6 text-right">
          Design and Developed by <a href="http://themeforest.net/user/bragher/portfolio" target="_blank">Bragher</a>
        </div> 
    </div>
    <!-- End Footer -->
</body>