<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- th:fragment 속성으로 공통으로 사용할 프래그먼트를 정의 -->
<body th:fragment="header">
    
<!-- Start Page Loading -->
<div class="loading"><img src="/kobe/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START TOP -->
<div id="top" class="clearfix">

  <!-- Start App Logo -->
  <div class="applogo">
    <a href="index.html" class="logo">kode</a>
  </div>
  <!-- End App Logo -->

  <!-- Start Sidebar Show Hide Button -->
  <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
  <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
  <!-- End Sidebar Show Hide Button -->


  <!-- Start Top Right -->
  <ul class="top-right">


  </ul>
  <!-- End Top Right -->

</div>
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 

</body>
</html>
